In [46]:
import pandas as pd
#produtos = pd.read_csv('produtos.csv', index_col='codigo')
produtos = pd.read_csv('produtos.csv')
produtos.head()

,codigo,marca,tipo,categoria,preco_unitario,custo,obs
0,MOLO000251,Logitech,Mouse,1,25.95,6.5,NaN
1,MOLO000192,Logitech,Mouse,2,19.95,5.0,NaN
2,CAHA000251,Hashtag,Camisa,1,25.00,11.0,NaN
3,CAHA000252,Hashtag,Camisa,2,25.00,11.0,Conferir estoque
4,MOMU000111,Multilaser,Mouse,1,11.99,3.4,NaN

In [47]:
produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   codigo          293 non-null    object
 1   marca           293 non-null    object
 2   tipo            293 non-null    object
 3   categoria       293 non-null    int64
 4   preco_unitario  293 non-null    float64
 5   custo           293 non-null    float64
 6   obs             2 non-null      object
dtypes: float64(2), int64(1), object(4)
memory usage: 16.2+ KB

In [50]:
for _, item in produtos.iterrows():
    print(str(item['categoria']))


#print(produtos['marca'])
#print(produtos['tipo'])
#print(produtos['categoria'])
#print(produtos['preco_unitario'])
#print(produtos['custo'])
#print(produtos['obs'])

1
2
1
2
1
1
2
3
4
5
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
1
2
3
4
5
6
7
8
9
10
11
12
13
1
2
3
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
1
2
3
4
5
6
7
8
9
10
11
1
1
2
3
4
1
2
3
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
1
2
3
1
1
2
1
2
3
1
2
1
2
3
4
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
10
11
12
13
1
2
3
4
5
6
7
8
9
10
1
2
3
4
1
1
1
1
2
3
4
1
1
1
1
1
1
1
1
2
3
4
5
6
7
1
2
3
4
5
6
7
8
9
10
11
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
1
2
3
4
5
6
7
1
2
3
4
5
6
7
8
9
10
11
12
13
14
1
2
3
1
2
3